SECRET_KEY=
ALLOWED_HOSTS=

# PostgreSQL (по умолчанию)
DB_ENGINE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Или SQLite (для быстрого старта без PostgreSQL):
# DB_ENGINE=django.db.backends.sqlite3
